# IDE - IntelliJ IDEA
/.idea/
*.iml
*.iws
*.ipr

# Maven
/target/
.mvn/
mvnw
mvnw.cmd

# Project-specific
/scripts/

# IDE - VSCode
.vscode/

# Log files
*.log

# Operating System Files
.DS_Store
Thumbs.db

*.txt